.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MuiPickersToolbar-toolbar,.MuiPickersDay-daySelected{
  background-color: #59A946!important;
}

.MuiDialogActions-root button.MuiButtonBase-root{
  background-color: #59A946!important;
}
.MuiStepIcon-root.MuiStepIcon-active,.MuiStepIcon-completed, .MuiTypography-colorPrimary,.MuiFormLabel-root.Mui-focused, .MuiRadio-colorPrimary,.MuiCheckbox-colorSecondary.Mui-checked{
  color:#59A946!important;
}
.MuiButton-label{
  color:#fff!important;
}
.jss1{
  text-align: left!important;
}
@media screen and (max-width: 768px) {
  .NamesDiv .MuiTextField-root{
      width: 42%!important;
    }
    .MuiTextField-root{
      width: 100%!important;
    }
  }

label + .MuiInput-formControl,.MuiSelect-root{
  margin-right: 1rem !important;
}

.MuiStepLabel-label.MuiStepLabel-active{
  font-size: 2rem;
}
.SignUpApp [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
  box-shadow: none!important;
}

.SignUpApp input[readonly]{
  background-color: transparent;
}

.signatureCanvas{
  border: 1px solid;
}

#checkboxLabel .MuiTypography-body1 {
  font-weight: 600!important;
}

[type='text']:focus{
  border:none !important;
  }

  [type='number']:focus{
    border:none !important;
    }

    .SignaturePad {
      width: 80%;
      height: 80%;
      margin: 0 auto;
      background-color: #fff;
    }
    
    .signatureCanvas {
      width: 100%;
      height: 100%;
    }
    
    .MuiTableCell-root{
      padding:9px!important;
      font-size: 1.5rem!important;
    }
@media screen and (min-width: 769px) {
  .SignaturePad {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    background-color: #fff;
  }
}
@media screen and (min-width: 1440px) {
  .SignaturePad {
    width: 50%;
    height: 60%;
    margin: 0 auto;
    background-color: #fff;
  }
}
.MuiMenuItem-root,.MuiTypography-subtitle1,.MuiPickersBasePicker-pickerView{
  font-size:1.5rem!important;
}

.broadband{
  margin-bottom: 20px;
}

.MuiAccordionSummary-root{
  padding: 0!important;
}
.MuiAccordionSummary-expandIcon{
  padding-bottom: 0!important;
}

#gasRatesTable .MuiTableBody-root tr.MuiTableRow-root:last-child,
#planSummary .MuiTableBody-root tr.MuiTableRow-root:last-child{
  background: #f2f2f2;
}